* {
    padding: 0;
    margin: 0;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container-image {
    margin: 0 auto;
    height: 789px;
}

.menu-header {
    text-transform: uppercase;
    text-align: center;

    /* без сдвижки кнопок */
    white-space: nowrap;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.menu-header li {
    display: inline-block;
    padding-left: 36px;
    padding-right: 36px;

}

.list a {
    text-decoration: none;
    color: red;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 2.7px;
}

.main {
    text-align: center;
    color: #373737;
}

.container-main{
    /* обрезка по ширине параграфов  */
    max-width: 1280px;
    width: 100%;
    display: inline-block;
}

.main > h2 {
    margin-top: 48px;

    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.first-paragraph {
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-top: 38px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26.4px;
    letter-spacing: 2.4px;
}

.second-paragraph {
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-top: 28px;

    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 2.4px;
}

.button {
    margin-top: 66px;
    margin-bottom: 82px;
}

.button-decoration {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: solid transparent;

    padding: 18px 43.5px 17px 42.5px;

    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    /* без перепрыжки на след строку */
    white-space: nowrap;
}

.footer > h4 {
    text-align: right;
    padding-bottom: 29px;
    padding-right: 105px;

    color: #373737;

    font-weight: 700;
    font-size: 16px;
    line-height: 39px;
    letter-spacing: 2.4px;
}